DATABASE=postgres
DB_HOST=localhost
DB_NAME=postgres
DB_PASSWORD=secretpass
DB_PORT=5430
DB_USER=postgres

LOG_LEVEL=info
PORT=7000
BASE_URL=http://localhost:7000/

SMTP_HOST=smtp.gmail.com
SMTP_PASSWORD="smtp pass exam plee"
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=example.mail@gmail.com
EMAIL_FROM=example.mail@gmail.com
